<!-- Complete Email template -->
<body style="background-color:#e8e8e8">
	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="550" bgcolor="white" style="border:2px solid #0d6efd">
		<tbody>
			<tr>
				<td align="center">
					<table align="center" border="0" cellpadding="0"
						cellspacing="0" class="col-550" width="550">
						<tbody>
							<tr>
								<td align="center" style="background-color: #0d6efd;
										height: 50px;">

									<a href="#" style="text-decoration: none;">
										<p style="color:white;
												font-weight:bold;">
											AGENDA CONTABILIDADE
										</p>
										<img src="https://lh3.googleusercontent.com/--OdoZyFgmm8/AAAAAAAAAAI/AAAAAAAAAAA/DTGaN2hOYFM/s44-p-k-no-ns-nd/photo.jpg" alt="LogoAgenda">
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr style="height: 300px;">
				<td align="center" style="border: none;
						border-bottom: 2px solid #0d6efd;
						padding-right: 20px;padding-left:20px">

					<p style="font-weight: bolder;font-size: 42px;
							letter-spacing: 0.025em;
							color:black;">
						Resposta ao Suporte
						<br>
						<%=nome%>
					</p>
				</td>
			</tr>

			<tr style="display: inline-block;">
				<td style="height: 150px;
						padding: 20px;
						border: none;
						border-bottom: 2px solid #0d6efd;
						background-color: white;">

					<h2 style="text-align: left;align-items: center;">Pergunta:</h2>
					<p class="data"
					style="text-align: justify-all;
							align-items: center;
							font-size: 15px;
							padding-bottom: 12px;">
						<%=pergunta%>
					</p>
					
					<h2 style="text-align: left;align-items: center;">Resposta:</h2>
					<p class="data"
					style="text-align: justify-all;
							align-items: center;
							font-size: 15px;
							padding-bottom: 12px;">
						<%=assunto%>
					</p>
				</td>
			</tr>
			<tr style="border: none;
			background-color: #0d6efd;
			height: 40px;
			color:white;
			padding-bottom: 20px;
			text-align: center;">
				
<td height="40px" align="center">
	<p style="color:white;
	line-height: 1.5em;">
	AGENDA CONTABILIDADE
	</p>
</td>
</tr>
<tr>
<td style="font-family:'Open Sans', Arial, sans-serif;
		font-size:11px; line-height:18px;
		color:#999999;"
	valign="top"
	align="center">
<a href="#"
target="_blank"
style="color:#999999;
		text-decoration:underline;">TODOS DIREITOS RESERVADOS</a>
		| <a href="#" target="_blank"
		style="color:#999999; text-decoration:underline;">TERMOS E SERVIÇOS</a>
		| <a href="#"
		target="_blank"
		style="color:#999999; text-decoration:underline;">CONDIÇÕES</a><br>
				© 2022 AgendaContabilidade. Todos os direitos reservados.<br>
				Responda o e-mail caso deseje falar com um de nossos responsáveis.
				<a href="#"
				target="_blank"
				style="text-decoration:none;
						color:#999999;"></a>
			</td>
			</tr>
			</tbody></table></td>
		</tr>
		<tr>
		<td class="em_hide"
		style="line-height:1px;
				min-width:700px;
				background-color:#ffffff;">
			<img alt=""
			src="images/spacer.gif"
			style="max-height:1px;
			min-height:1px;
			display:block;
			width:700px;
			min-width:700px;"
			width="700"
			border="0"
			height="1">
			</td>
		</tr>
		</tbody>
	</table>
</body>
