.card{
    margin-top: 20vh;
    background: none;
    border: none;
}
.card-header{
    background: none;
    border: none;
}
.card-body{
    background: none;
}
.buttonEdit{
    width: 20%;
}
.card-services{
    width: 100%;
}
.card-title{
    margin-left: 5vh;
}
.button-card-service{
    margin-left: 5vh;
}