<div class="list-group">
    <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-people"></i>  Grupo   : <%=cliente.cliente_categorium.nome%></h5>
        </div>  
    </a>
    <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-telephone"></i>  Telefone   : <%=cliente.telefone%></h5>
        </div>  
    </a>
    <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-phone"></i>  Celular: <%=cliente.celular%></h5>
        </div>  
    </a>
    <a class="list-group-item list-group-item-action bg-dark text-light" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-calendar"></i>  Data Nascimento: <%=cliente.data_nascimento%></h5>
        </div>  
    </a>
</div>