<%-include('../../partials/UserLog/head')%> 
  <!-- AQUI ENTRA O ESTILO PESSOAL -->
  <link rel="stylesheet" type="text/css" href="/css/conteudoIndex.css">
<% -include('../../partials/UserLog/head2') %> 
<body class="d-flex h-100 text-center text-white bg-primary">
  <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%-include('../../partials/UserLog/nav') %> 
    <div class="imagemIndex">
      <a>
        <img src="/img/logo.png" alt="Logo Agenda Contabilidade">
      </a>
    </div>
    <main class="px-3">
      <div>
        <p class="lead boasVindas">
          <b>Olá Seja bem vindo ao seu painel de cliente!</b>
        </p>
        <p class="descricaoServicos">Faça aqui suas solicitações de serviços e acompanhe em tempo real o andamento dos seus serviços.</p>
      </div>
      <p class="lead">
        <a href="/user/solicitar/servico" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Solicitar Serviço</a>
      </p>
    </main>
    <footer class="mt-auto text-white-50">
      <p class="rodapeDireitos">&copy;Alguns Direitos Reservados.</p>
    </footer>
  </div>
</body>
<%-include('../../partials/UserLog/footer.ejs')%>
