<%- include('../../partials/usuario/head') %> 
  <title>Agenda Contabilidade</title>
  <link rel="stylesheet" type="text/css" href="/css/historicoServicos.css">
<%- include('../../partials/usuario/head2') %> 
<body>
  <%- include('../../partials/UserLog/nav') %> 
    <div class="container">
        <div class="card">
            <div class="card-header">
              <h6 class="display-5 text-center">Histórico de Serviços</h6>
            </div>
            <hr>
            <div class="card-body">
              
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/usuario/footer1') %> 
<script src="/js/cadastroCliente.js"></script>